// Gallary
.gallary {
  margin-bottom: 20px;
}

.gallary-image-box {
  background: $black;
  &.reveal-in {
    .gallary-image {
      opacity: 1;
    }
  }
}

.gallary-image {
  min-height: 230px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  opacity: 0;
  transition: all 1s cubic-bezier(0.6, 0.3, 0, 1);
  &:after {
    content: "";
    display: table;
    width: 100%;
    padding-top: 50%;
  }
}

.gallary-content {
  font-family: Arial, Helvetica, Tahoma, “Microsoft YaHei”, “微软雅黑”, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  
  padding: 40px 15px;
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.25);
  background: rgba($blue-darken, .95);
}

.gallary-head {
  padding-bottom: 30px;
  .gallary-title {
    font-family: Arial, Helvetica, Tahoma, “Microsoft YaHei”, “微软雅黑”, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
  }
}

.gallary-head, .gallary-body {
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color;
}

.gallary-body {
  padding-bottom: 20px;
}

@media only screen and (min-width: 576px) {
  .gallary-content {
    font-family: Arial, Helvetica, Tahoma, “Microsoft YaHei”, “微软雅黑”, sans-serif;
    padding: 40px;
  }

  .gallary-head {
    font-family: Arial, Helvetica, Tahoma, “Microsoft YaHei”, “微软雅黑”, sans-serif;
    .gallary-title {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  }
}
